<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite name="MyDemoSuite" > 
<!-- 
<groups>
 	<run> 
		<include name="smoke" />
	</run> 
</groups>
-->	

<!-- 
<listeners>
		<listener class-name="util.ReportUtil" />
</listeners>
-->	

	<test name="JavaScriptAlerts"> 
		<parameter name="browser" value="chrome"/>
		<classes> 
<!--	
	


			
-->	
	
	<class name="tests.SimpleFormTest"></class>  		 	
	<class name="tests.WindowPopupTest"></class> 	
	<class name="tests.JavaScriptAlertTest"></class>   	
	<class name="tests.TableTest"></class>   			
	<class name="tests.AjaxFormSubmitTest"></class>   	   	
	<class name="tests.FormSubmitTest"></class>			
	<class name="tests.RadioButtonTest"></class>		
	<class name="tests.JQueryUiProgressTest"></class>
	<class name="tests.DragAndDropTest"></class>
	
			
<!-- 				<methods>
				<include name="samplePrintout"/>
				<exclude name="testingC"/>
				</methods>		-->		
			
		</classes> 
	</test> 
</suite>
